<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="logo"></span><span class="page-title">KOMMD</span></a>
    </div>
    <ul class="nav navbar-nav">
	    <li ng-repeat="route in routes" ng-class="route.class">
			<a ng-class="route.class" href="{{ route.link }}"><span class="{{route.glyph}}"></span> {{ route.name }}</a>
		</li>
    </ul>
     <div class="navbar-header pull-right">
        <div dropdown>
				<a class="user" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">
					<h4 id="currentUser">The currentUsers`s name</h4>
				</a>
				<ul class="dropdown-menu pull-right" role="menu">
					<!-- <li><a href="/user">Settings</a></li> -->
					<li class="divider"></li>
					<li><a ng-click="logout()" href="#">Logout</a></li>
				</ul>
			</div>
    </div>
</nav>