.fake_cell{
    -fx-background-image: url('../../static/img/calendar_line_cell.png');
}

.fake_head{
    -fx-background-image: url('../../static/img/calendar_line_head.png');
}

.fake_cell_everlasting{
    -fx-background-image: url('../../static/img/calendar_line.png');
}